body {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 160px;
    margin-right: 160px;
    color: cadetblue;
    font-size: 40px;
    background-color: black;
}

.Main_boby {
    text-align: center;
    background-color: aliceblue;
}

.Main_boby__Text_Center {
    margin-bottom: 60px;
    font-size: 40px;
}
.Main_boby__Table_And_Temple{
    display: flex;
}
.Main_boby__Table_Inf {
    width: 600px;
    height: 1000px;
    margin-left: 20px;
}
.Main_boby__Table_Inf__Line_Name {
    font-size: 30px;
}
.Main_boby__Table_Inf__Line_information {
    font-size: 30px;
    padding-left: 30px !important;
}
.Main_boby__Table_Inf__Line_information:first-child {
        padding-left: 7px !important;
}
.Main_boby__Table_Inf__Colum {
    margin: 0px;
    font-size: 40px;
}
.Main_boby__Table_Inf__Line_information__Button {
    cursor: pointer;
}
.AddPeople {
    text-align: left;
    padding: 20px;
}
.AddPeople__Form {
    border: 4px double black;
    padding:20px;
    border-color:black;
}
.AddPeople__Add_Element {
    margin-bottom: 20px;
}
.AddPeople__Form__Add_button {
    cursor: pointer;
}
.AddPeople__Form__Add_button:active {
        background-color: #3B83BD;
}
